<!-- Load TensorFlow.js. This is required to use coco-ssd model. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.0"> </script>
<!-- Load the coco-ssd model. -->
<!--<script src="static/coco-ssd"> </script>-->

<!-- Replace this with your image. Make sure CORS settings allow reading the image! -->
<!--<img id="img" src="static/train_004.jpg"/>-->
<!--<canvas id="canvas" width="640" height="480"></canvas>-->
<canvas id="myCanvas"></canvas>
<script src="static/classes_jayz.js"> </script>

<!-- Place your code in the script tag below. You can also use an external .js file -->
<script>
  // Notice there is no 'import' statement. 'cocoSsd' and 'tf' is
  // available on the index-page because of the script tag above.

  MODEL_PATH = 'static/self_trained_jayz/model.json'
  let ssdmodel;
  const ssdDemo = async (imgElement) => {
      // Load the model
      const ssdmodel = await tf.loadGraphModel(MODEL_PATH);

      // Preprocess the image
      <!--const imgElement = document.getElementById('img');-->
      const input = tf.browser.fromPixels(imgElement).toFloat();
      input2 = await input.expandDims(axis=0);

      const height = input2.shape[1];
      const width = input2.shape[2];

      // Inference
      // model returns two tensors:
      // 1. box classification score with shape of [1, 3(boxes_number), 90]
      // 2. box location with shape of [1, 3(boxes_number), 1, 4]
      // where 1 is the batchsize, 3 is the number of box detectors, 90 is the number of classes.
      // and 4 is the four coordinates of the box.
      outputs_node = ['num_detections','detection_boxes','detection_scores','detection_classes']
      result = await ssdmodel.executeAsync(input2, outputs_node); //

      console.log("hhhh");
      console.log(result == undefined);
      console.log(result);

      num_detections = result[0].dataSync()
      detected_boxes = result[1].dataSync()
      detected_scores = result[2].dataSync()
      detected_classes = result[3].dataSync()
      console.log(num_detections);
      console.log(detected_boxes);
      console.log(detected_scores);
      console.log(detected_classes);

      // Build Detected Objects
      const count = num_detections;
      const objects = [];
      for (let i = 0; i < count; i++) {
        const bbox = [];
        for (let j = 0; j < 4; j++) {
          bbox[j] = detected_boxes[i * 4 + j];
        }
        const minY = bbox[0] * height;
        const minX = bbox[1] * width;
        const maxY = bbox[2] * height;
        const maxX = bbox[3] * width;
        bbox[0] = minX;
        bbox[1] = minY;
        bbox[2] = maxX - minX;
        bbox[3] = maxY - minY;
        objects.push({
          bbox: bbox, //[x, y, width, height]
          class: CLASSES[detected_classes[i]].displayName,
          score: detected_scores[i]
        });
      }
      console.log('Predictions: ', objects);

      return objects;
  }

  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");
  var img = new Image();
  img.src = "static/test_010.jpg";
  img.onload = function () {
      ctx.canvas.width = img.width;
      ctx.canvas.height = img.height;
      ctx.drawImage(img, 0, 0,  ctx.canvas.width, ctx.canvas.height);
      <!--bbox_objects =-->
      ssdDemo(img).then((bbox_objects)=> {
          <!--console.log("In the then");-->
          console.log(bbox_objects);
          // Plot BBOX
          for (let i = 0; i < bbox_objects.length; i++) {
              console.log(bbox_objects[i])
              var bbox_x = bbox_objects[i]['bbox'][0]
              var bbox_y = bbox_objects[i]['bbox'][1]
              var bbox_width = bbox_objects[i]['bbox'][2]
              var bbox_height = bbox_objects[i]['bbox'][3]

              const plotWidth = 2;
              const plotColor = 'red';
              // plot bbox rect
              ctx.lineWidth = plotWidth;
              ctx.strokeStyle = plotColor;
              ctx.strokeRect(bbox_x, bbox_y, bbox_width, bbox_height);
              // plot class and name
              ctx.fillStyle = plotColor;
              ctx.font = "20px Arial";
              var text = bbox_objects[i]['class'] + " | " + bbox_objects[i]['score'].toFixed(3);
              console.log(text);
              ctx.fillText(text, bbox_x+5, bbox_y);

          }
      });
  }

  //ssdDemo();

</script>